.email-verified-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #3a2778;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success_image {
  width: 200px;
  height: 200px;
  margin-left: 0;
}

.email-verified-container h1 {
  color: white;
}

.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #e6e6e6;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
